absl-py==0.13.0
Cython==0.29.24
docker==4.4.4
dtw==1.4.0
easydict==1.9
einops==0.3.0
gpustat==0.6.0
h5py==2.10.0
imageio==2.9.0
imageio-ffmpeg==0.4.4
iopath==0.1.9
jupyterlab==3.0.16
Keras-Applications==1.0.8
Markdown==3.3.4
matplotlib==3.4.2
moviepy==1.0.3
ninja==1.10.0.post3
numba==0.53.1
opencv-python==4.5.3.56
prettytable==2.1.0
PyYAML==5.4.1
scikit-build==0.11.1
scikit-learn==0.24.2
seaborn==0.11.2
simplejson==3.17.3
spacy==3.1.1
tensorboard==2.5.0
tensorboardX==2.4
tensorflow-gpu==2.3.0
timm==0.3.2
yacs==0.1.8
youtube-dl==2021.6.6